/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

footer {
    width: 80vw;
}

.graph-image {
    width: 80%;
}

.graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== HEADER ===== */
.header-images {
    display: flex;
    width: 80vh;
    align-items: center;
    justify-content: space-between;
    background: white;
    gap: 0.625rem;
    /* flex-wrap: wrap; */
}

.header-images img {
    max-width: 100%;
    height: auto;
}

#logo-resolve {
    /* position: relative; */
    height: 10rem;
    /* left: 18%; */
}

.header-container {
    color: white;
    padding: 2.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    text-align: center;
}

.header-container h1 {
    font-size: 2rem;
}

/* Círculos de ícones */
.circles-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    padding: 0 1.25rem;
    text-align: center;
}

.circles-section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 7.5rem;
}

.circle {
    background: white;
    color: #21A366;
    font-size: 3.5rem;
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle i {
    font-size: 3.4375rem;
}

.circles-section p {
    font-size: 0.8125rem;
    margin-top: 0.5rem;
    word-break: break-word;
}

/* ===== MAIN ===== */
main {
    flex: 1;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

/* Seção de desenvolvedores */
.developers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.125rem 0;
    gap: 1.25rem;
    color: #033773;
    text-align: center;
}

.developers-section h2 {
    font-size: 1.8rem;
}

.developers-image {
    width: 100%;
}

.developers-image img {
    width: 100%;
    height: auto;
    max-width: 80%;
}

/* Seção "Quem Somos" */
.who-we-are {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: 2.5rem;
}

.who-we-are>#title {
    background: #033773;
    border-radius: 0.75rem;
    color: white;
    padding: 0.75rem;
    font-size: 1.4rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.who-we-are>p {
    text-align: justify;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
}

/* ===== VÍDEO MOCKUP ===== */
.video-mockup {
    position: relative;
    width: 55%;
}

.laptop-frame {
    width: 100%;
    display: block;
}

.video-inside {
    position: absolute;
    top: 8.5%;
    left: 15.3%;
    width: 69.5%;
    height: 77%;
    border-radius: 0.75rem;
    object-fit: cover;
    z-index: 2;
}

/* ===== FOOTER ===== */
.footer-design {
    display: flex;
    width: 50%;
    height: 15rem;
    position: relative;
    overflow: hidden;
}

.footer-left {
    background-color: #21A366;
    width: 50%;
    clip-path: polygon(0 0, 100% 100%, 0% 100%);
}

.footer-right {
    background-color: #033773;
    width: 50%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1.25rem;
}

.footer-right img {
    width: auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 90rem) {

    /* ===== HEADER ===== */
    .header-images {
        display: flex;
        width: 80vh;
        align-items: center;
        justify-content: space-between;
        background: white;
        gap: 0.625rem;
        /* flex-wrap: wrap; */
    }

    .header-images img {
        max-width: 100%;
        height: auto;
    }

    #logo-resolve {
        /* position: relative; */
        height: 6rem;
        /* left: 18%; */
    }

    .footer-design {
        width: 80%;
        height: 10rem;
    }

    /* ===== VÍDEO MOCKUP ===== */
    .video-mockup {
        position: relative;
        width: 80%;
    }

}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 64rem) {
    .footer-design {
        height: 9rem;
        width: 95%;
    }

    .footer-right img {
        height: 2rem;
    }

    #logo-resolve {
        position: relative;
        left: 15%;
        height: 5rem;
    }

    /* ===== VÍDEO MOCKUP ===== */
    .video-mockup {
        position: relative;
        width: 100%;
    }

}

/* Tablets */
@media (max-width: 62rem) {
    .header-container {
        background: #21A366;
        padding: 1.875rem 0.9375rem;
    }

    .header-container h1 {
        font-size: 1.8rem;
    }

    .circles-section {
        gap: 1.875rem;
    }

    .developers-section {
        margin: 2.5rem 0;
    }

    .who-we-are>#title,
    .who-we-are>p {
        width: 90%;
    }

    .footer-design {
        height: 7.5rem;
    }

    .footer-right img {
        height: 1.875rem;
    }

    .graph-image {
        width: 95%;
    }
}

/* Mobile */
@media (max-width: 48rem) {

    #logo-resolve {
        height: 3.75rem;
    }

    .header-container {
        background: #21A366;
        padding: 1.5625rem 0.625rem;
        gap: 1.25rem;
    }

    .header-container h1 {
        font-size: 1.5rem;
    }

    .circles-section {
        gap: 1.25rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .circle {
        width: 3.75rem;
        height: 3.75rem;
    }

    .circle i {
        font-size: 2.5rem;
    }

    .circles-section>div {
        max-width: 5rem;
    }

    .developers-section {
        margin: 1.875rem 0;
    }

    .developers-section h2 {
        font-size: 1.5rem;
    }

    .who-we-are>#title {
        font-size: 1.2rem;
        width: 95%;
    }

    .who-we-are>p {
        width: 95%;
        font-size: 0.95rem;
    }

    .footer-design {
        height: 7.5rem;
    }

    .footer-right img {
        height: 1.875rem;
    }

    .graph-image {
        width: 95%;
    }
}

/* Mobile pequeno */
@media (max-width: 30rem) {
    .header-container h1 {
        background: #21A366;
        font-size: 1.3rem;
    }

    .circles-section {
        gap: 0.9375rem;
    }

    .circle {
        width: 3.125rem;
        height: 3.125rem;
    }

    .circle i {
        font-size: 1.875rem;
    }

    .circles-section p {
        font-size: 0.6875rem;
    }

    .developers-section h2 {
        font-size: 1.3rem;
    }

    .developers-image img {
        width: 100%;
        height: auto;
        max-width: 95%;
    }

    .who-we-are>#title {
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .who-we-are>p {
        font-size: 0.9rem;
    }

    .header-images {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        background: white;
        gap: 0.625rem;
        flex-wrap: wrap;
    }

    .video-mockup {
        position: relative;
        width: 100%;
    }

    .laptop-frame {
        width: 100%;
        display: block;
    }

    footer {
        width: 100vw;
    }

    .footer-design {
        height: 5.5rem;
    }

    .footer-right img {
        height: 1.875rem;
    }

    .header-images img {
        max-width: 100%;
        height: 10rem;
    }

    #logo-resolve {
        position: relative;
        height: 3rem;
        left: 10%;
    }

    .graph-image {
        width: 95%;
    }

}